<img src="<%=@dish['image_url']%>" alt="">

<%# there is no delete method in the browser!!! the "_method" in input will let sinatra know its not a 'post' method%>
<form action="/dishes/<%=@dish['id']%>" method ='post'>
    <input type="hidden" name="_method" value ="delete">
    <button>delete</button>
</form>

<a href="/dishes/<%=@dish['id']%>/edit">edit</a>
<p>posted by <%= @dish.user.email%></p>
<p><%=@dish.likes.count%> likes</p>
<form action="/likes" method="post">
    <input type="hidden" name ="dish_id" value="<%=@dish.id%>">
    <input type="hidden" name ="user_id" value="<%=@dish.user.id%>">
    <button>like</button>
</form>

<form action="/comments" method="post">
    <input type="hidden" name ="dish_id" value = "<%=@dish['id']%>">
    <label for="">content</label>
    <textarea name="content"></textarea>
    <button>post</button>
</form>

<%@comments.each do |comment|%>
    <p><%=comment['content']%></p>
  


<%end%>